<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipes</title>
  <link rel="stylesheet" href="./Styles/card_style.css ">
</head>
<body>
  <h1>Our Recipes</h1>
  <div class="recipes-container">
    <th:block th:each="recipe : ${recipes}">
      <div class="recipe-card">
          <img th:src="${recipe.image}" alt="Recipe Image">
          <div class="recipe-info">
            <h3><span th:text="${recipe.title}"></span></h3>
            <p>Duration: <span th:text="${recipe.duration}"></span></p>
          </div>
        </div>
      </a>
    </th:block>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="./script/card_script.js"></script>
</body>
</html>